<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include("./partials/head.ejs") %>



<style>
.spinner {
   width: 11.2px;
   height: 11.2px;
   border-radius: 11.2px;
   box-shadow: 28px 0px 0 0 rgba(92,255,71,0.2), 22.7px 16.5px 0 0 rgba(92,255,71,0.4), 8.68px 26.6px 0 0 rgba(92,255,71,0.6), -8.68px 26.6px 0 0 rgba(92,255,71,0.8), -22.7px 16.5px 0 0 #5cff47;
   animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
   to {
      transform: rotate(360deg);
   }
}
</style>


  <body>
    <%- include("./partials/preloader.ejs") %>

    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="success-animation mx-auto">
              <svg class="checkmark" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
              </svg>
            </div>
          </div>
          <div class="modal-body text-center " style="color: black;">
            <h1>مبرووك ! </h1>
            <h2 style="font-size: 1.6rem;"> لقد حصلت علي </h2>
            <h3 style="font-size: 1.4rem; font-weight: bolder;"><span id="successModalGrade"></span> / <span
                id="successModalTotalQuestions"></span></h3>
          </div>
          <div class="modal-footer mx-auto">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="copyCode"> حسنا </button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="failModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header mx-auto">
            <div class="wrong-animation ">
              <i class="fa-sharp fa-regular fa-circle-xmark"></i>
            </div>
          </div>
          <div class="modal-body text-center " style="color: black;">
            <h1>لأسف ! </h1>
            <h2 style="font-size: 1.6rem;"> لقد حصلت علي </h2>
            <h3 style="font-size: 1.4rem; font-weight: bolder;"><span id="failModalGrade"></span> / <span
                id="failModalTotalQuestions"></span></h3>
            <h2> تتعوض في الجاي يبطل </h2>
          </div>
          <div class="modal-footer mx-auto">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="copyCode"> حسنا </button>
          </div>
        </div>
      </div>
    </div>


    <button type="button" style="display: none;" id="successmodelbtn" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#successModal">
      Launch demo modal
    </button>
    <button type="button" style="display: none;" id="failmodelbtn" class="btn btn-warning" data-bs-toggle="modal"
      data-bs-target="#failModal">
      Launch demo modal
    </button>
    <!-- <div id="preloader"></div>  -->
    <div id="mySidebar" class="sidebars" style="display: none;">
      <div class="questions" dir="ltr">
        <div class="row" id="sidebarQuestions">
          <div class="col-3">
            <button id="Q${i}">${i}</button>
          </div>
          <div class="col-3">
            <button id="Q${i}">${i}</button>
          </div>
          <div class="col-3">
            <button id="Q${i}">${i}</button>
          </div>
          <div class="col-3">
            <button id="Q${i}">${i}</button>
          </div>

        </div>
      </div>
    </div>
    <div class="theme-toggler" style="display: none;">
      <span class="material-icons-sharp active">
        light_mode
      </span>
      <span class="material-icons-sharp">
        dark_mode
      </span>
    </div>


    <div class="container ">
      <div id="main" style="display: inline;">
        <button class="openbtn" id="openNav" onclick="openNav()"><i class="fa-solid fa-angles-right"></i></button>
        <button class="openbtn" id="closeNav" onclick="closeNav()" style="display: none;"><i
            class="fa-solid fa-angles-left"></i></button>
      </div>
      <div class="quiz-info mx-auto " id="quiz-info">
        <% if (quiz) { %>

          <div class="description text-center" style="display: inline;">
            <h2> اسم الامتحان : <span>
                <%= quiz.quizName %>
              </span> </h2>
            <h2>
              وقت الامتحان : <span>
                <%= quiz.timeOfQuiz %>
              </span> د
            </h2>
            <h2>
              عدد الاسئله : <span>
                <%= quiz.questionsCount %>
              </span>
            </h2>
            <h2>
              % درجه النجاح : <span></span> 50
            </h2>
            <div class="licens my-4 text-break" dir="rtl">
              <h2>القواعد والشروط : </h2>
              <p class="mt-3">1 - لن تتمكن من الدخول الي الامتحان مره اخري من بعد الضغط علي زر <span
                  class="text-warning"> "بدأ الامتحان" </span>الا اذا قام المعلم الخاص بك بفتحه مجددا</p>
              <p>2 - في حال خروجك من الامتحان بدون الضغط علي زر <span class="text-warning">"انهاء الامتحان"</span> فسيتم
                الحصول علي درجة صفر </p>
              <p>3 - في حال انتهاء وقت الامتحان قبل الضغط علي زر <span class="text-warning">"انهاء الامتحان"</span> يحصل
                الطالب علي درجته التي قام بالحصول عليها فعلياً ولن يحدث اي نقصان "اي انك ستحصل علي درجتك علي حسب عدد
                الاسئله التي قمت بحلها صحيحه"</p>
              <p>4 - في حال انتهاء وقت الامتحان وانت خارج هذه الصفحح ستحصل علي صفر لان هذا يعد غش</p>
            </div>
            <button id="StartQuiz"  onclick="window.location.href='/student/quizWillStart/<%= quiz._id %>?qNumber=1'">بدأ الامتحان</button>
          </div>






          <% } %>
    

      </div>
    </div>



    <script src="/assest/bootstrap.bundle.min.js"></script>
    <script src="/assest/bootstrap.min.js"></script>

   
  </body>

</html>