<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/preloader.ejs") %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <%- include("./partials/aside.ejs") %>
        </div>
        <div class="col-lg-10">
          <main>
            <div class="row">
              <div class="col-lg-12">
                <div class="left float-start">
                  <%- include("./partials/top.ejs") %>
                

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <div class="alert alert-danger" id="alert" style="display: none;">
                  <h1>الكود خاطئ</h1>
                  <h2>الأسباب ممكن تكون: </h2>
                  <ol type="a">
                    <li><h2>الكود مستخدم من قبل</h2></li>
                    <li><h2>الكود مش بتاع الحصة أو الباب ده</h2></li>
                    <li><h2>الكود مكتوب غلط</h2></li>
                  </ol>
                </div>
          
         
                
                <div class="row courses" style="margin-top: 0 !important;" id="Videos">
                  <% if (chapterLectures) { %>
                    <div class="row text-center mt-4">
                      <div class="col-4">
                        <a href="/student/videos/lecture/<%= chapterId %>">
                          <button class="btn btn-primary lecture-button lecSumSolBTn" style="font-size: 1.5rem; font-weight: bold;">الشرح</button>
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="/student/videos/summaries/<%= chapterId %>">
                          <button class="btn btn-primary summaries-button lecSumSolBTn" style="font-size: 1.5rem; font-weight: bold;">المراجعه</button>
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="/student/videos/Solving/<%= chapterId %>">
                          <button class="btn btn-primary solving-button lecSumSolBTn" style="font-size: 1.5rem; font-weight: bold;">الحل</button>
                        </a>
                      </div>
                    </div>
                    

                   <% chapterLectures.forEach(lecture => { %>
                    <% if (lecture.permissionToShow=="apper") { %>

                      <div class="col-md-4">
                        <article class="course " >
                            <div class="price-tag">
                                <i class="fa-solid fa-tag"></i>
                              
                                <% if (lecture.paymentStatus === "Pay") { %>
                                  <span>L.E</span> <h3><%= lecture.videoPrice %></h3>
                                <% } else { %>
                                  <h3>الدخول مجاني</h3>
                                <% } %>
                       
                            </div>
                            <div class="course__image">
                              <img src="<%= lecture.imgURL %>">
                          </div>
                            <div class="course__info " >
                                <h3><%= lecture.videoTitle %></h3>
                                <hr>
                                <% if (lecture.isUserCanEnter) { %>
                                      <% if (lecture.paymentStatus === "Pay") { %> 
                                          
                                        <% if (!lecture.isPaid) { %>
                                          <form action="/student/buyVideo/<%= lecture._id %>" method="post" id="l<%= lecture._id %>" onsubmit="handleFormSubmission(event)">
      
                                            <input type="text"  name="code" placeholder="ادخل الكود" required>
                                            <button type="submit" class="btn btn-primary" >استخدام الكود</button> 
                                            <div class="enterBox">
                                              <span style="font-weight: bolder; font-size:1.4rem;"><%= lecture.Attemps %></span>
                                              <span style="font-weight: bolder; font-size: 1.65rem;"> : </span>
                                              <i class="fa-solid fa-right-to-bracket"></i>
                                            </div>
                                          </form>
                                        <% } else{ %>
                                          <a href="<%= chapterId %>/watch/<%= lecture._id %>">  <button  class="btn btn-primary" >مشاهده</button></a>
                                          <div class="enterBox">
                                            <span style="font-weight: bolder; font-size:1.4rem;"><%= lecture.Attemps  %></span>
                                            <span style="font-weight: bolder; font-size: 1.65rem;"> : </span>
                                            <i class="fa-solid fa-right-to-bracket"></i>
                                          </div>
                                        <% } %>
                                  
                                    <% } else { %>
                                      <a href="<%= chapterId %>/watch/<%= lecture._id %>">  <button  class="btn btn-primary" >مشاهده</button></a>
                                      <div class="enterBox">
                                          <span style="font-weight: bolder; font-size:1.4rem;"><%= lecture.Attemps  %></span>
                                          <span style="font-weight: bolder; font-size: 1.65rem;"> : </span>
                                          <i class="fa-solid fa-right-to-bracket"></i>
                                        </div>
                                    <% } %>

                                <% } else { %>

                             
                      
                                 
                                        <button  class="btn btn-primary" >غير مسموح لك بالدخول</button>
                                        <% if (lecture.videoPrerequisitesName) { %>
                                          <h3 style="margin-bottom: 0 !important;" class="mt-3">يجب ان تشاهد هذا الفيديو اولا وترفع الواجب الخاص به</h3>
                                          <h3>اسم الفيديو : <%= lecture.videoPrerequisitesName %></h3>
                                        <% } else{ %>
                                              <h3>يجب ان تدخل الامتحان اولا</h3>
                                        <% } %>
                                   
                                
                             
                             
                             
                               <% } %>

  
  
            
                            </div>
  
  
                        </article>
                      </div>  

                    <% } %>
                
  
                   <% }) %>
                  <% } %> 


            


 
              
              </div>

              </div>
            </div>
          </main>
        </div>
      </div>
    </div>


    <script src="/assest/bootstrap.min.js"></script>
    <script src="/assest/bootstrap.bundle.min.js"></script>
    
    <script>
      function handleFormSubmission(event) {
          event.preventDefault(); // Prevent default form submission
  
          const form = event.target; // Get the form element
  
          // Perform AJAX form submission
          fetch(form.action, {
              method: form.method,
              body: new FormData(form)
          })
          .then(response => {
              if (response.status === 204) {
                  // If response status is 201 (Created), refresh the page
                  window.location.reload();
              } else {
                
                let alertElement = document.getElementById('alert');
          alertElement.style.display = 'block';
          alertElement.classList.add('show');
    
          // Hide the alert after 20 seconds
          setTimeout(function() {
            alertElement.classList.remove('show');
            alertElement.classList.add('hide');
          }, 40000);
              }
          })
          .catch(error => {
              console.error('Error:', error);
          });
      }
  </script>
    <script>
      // Get the current URL path
      const currentPath = window.location.pathname;
    
      // Select the corresponding button based on the current path and add active class
      if (currentPath.includes('/lecture')) {
        document.querySelector('.lecture-button').classList.add('activate');
      } else if (currentPath.includes('/summaries')) {
        document.querySelector('.summaries-button').classList.add('activate');
      } else if (currentPath.includes('/Solving')) {
        document.querySelector('.solving-button').classList.add('activate');
      }
    </script>
  </body>
</html>
